*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
    border-radius: 20px;
}

.search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search input{
    outline: none;
    border: none;
    padding: 10px 25px;
    color: #555;
    background-color: #ebfffc;
    border-radius: 30px;
    margin-right: 16px;
    height: 60px;
    flex: 1;
    font-size: 18px;
}

.search button{
    outline: none;
    border: none;
    background-color: #ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.search button img{
    width: 20px;
}

.weather_icon{
    width: 150px;
    margin: 30px;
}

.weather h1{
    font-size: 60px;
    font-weight: 500;
}


.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 30px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .Wind{
    font-size: 28px;
    margin-top: -6px;
}





/* Media Screen */


@media (max-width: 768px){


    .details{
        padding:0px;
    }
    .search input{
        margin-right: 5px;
        font-size: 16px;
    }

    
    .humidity, .Wind{
        font-size: 20px;
    }
    

}